.box{
    margin: 0 100px;
    padding: 15px;
    background: rgba(00,00,00,0.25);
    position: relative;
}
div:after{
    content: '';
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;

    height: 200%;
    width: 100%;
    top: -50%;
    left: -1px;
}
div:before{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: calc(100% + 60px);
    height:  100%;
    right: -30px;
    top: -1px;
    content: '';
    position: absolute;
}
